Repository jelhouss/mui-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

build(Storybook): add initial Storybook setup
  .eslintrc.json
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: prettier --check

build(Tailwind): add initial Tailwind CSS setup
  .gitignore
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/index.tsx
  src/tailwind.css
  tailwind.config.js
Due: prettier --check, eslint

build: add .js extension to Prettier/ESLint checks
  .lintstagedrc.json
  package.json
Due: prettier --check

style: format code based on ESLint/Prettier checks
  .storybook/main.js
  .storybook/preview.js
Due: none

build: integrate Tailwind and Storybook
  .gitignore
  .storybook/preview.js
  package.json
  src/global.css
  src/index.tsx
Due: prettier --check, eslint

chore: update default CRA src/ file structure
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/app/App.test.tsx
  src/app/App.tsx
  src/index.css
  src/index.tsx
Due: prettier --check, eslint

build: add initial setup of Docker
  Dockerfile
  docker-compose.yaml
Due: none

chore: manual delete of Storybook and Tailwind CSS setup
  .storybook/main.js
  .storybook/preview.js
  package.json
  postcss.config.js
  src/global.css
  src/index.tsx
  tailwind.config.js
Due: prettier --check, eslint

build: add a clean/updated verion of package-lock.json file
  package-lock.json
Due: prettier --check

build: perform major upgrade of packages
  package-lock.json
  package.json
Due: prettier --check

build: add import order rule for ESLint configuration
  .eslintrc.json
Due: prettier --check

style: add code formatting
  src/app/App.test.tsx
Due: prettier --check, eslint

build: add initial setup of Storybook
  .eslintrc.json
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/app/App.tsx
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
Due: prettier --check, eslint

build: add Storybook a11y plugin
  .storybook/main.js
  package-lock.json
  package.json
Due: prettier --check

docs: add initial README file
  README.md
Due: prettier --check

chore: add React Router
  package-lock.json
  package.json
Due: prettier --check

feat: add initial (very basic) routes setup
  src/app/App.test.tsx
  src/app/App.tsx
  src/index.tsx
  src/pages/protected/Home.tsx
  src/pages/protected/NotFound.tsx
  src/pages/protected/index.tsx
  src/pages/protected/routes.tsx
  src/pages/public/About.tsx
  src/pages/public/Home.tsx
  src/pages/public/NotFound.tsx
  src/pages/public/index.tsx
  src/pages/public/routes.tsx
Due: prettier --check, eslint

build: change docker compose services names
  docker-compose.yaml
Due: none

chore: add React Hook Form (with resolvers and DevTools)
  package-lock.json
  package.json
Due: prettier --check

chore: add Zod for schema validation with static type inference
  package-lock.json
  package.json
Due: prettier --check

feat: add SignInForm component
  src/components/SignInForm/SignInForm.stories.tsx
  src/components/SignInForm/SignInForm.test.tsx
  src/components/SignInForm/SignInForm.tsx
Due: prettier --check, eslint

chore: delete initial generated Storybook stories
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
Due: prettier --check, eslint

build: disable ESLint base rule for no-shadow
  .eslintrc.json
Due: prettier --check

test: skip SignInForm form submission
  src/components/SignInForm/SignInForm.test.tsx
Due: prettier --check, eslint

feat: add SignUpForm component
  src/components/SignUpForm/SignUpForm.stories.tsx
  src/components/SignUpForm/SignUpForm.test.tsx
  src/components/SignUpForm/SignUpForm.tsx
  src/types/user.ts
Due: prettier --check, eslint

refactor: change HTML header level in SignInForm and SignUpForm components
  src/components/SignInForm/SignInForm.test.tsx
  src/components/SignInForm/SignInForm.tsx
  src/components/SignUpForm/SignUpForm.test.tsx
  src/components/SignUpForm/SignUpForm.tsx
Due: prettier --check, eslint

feat: add SignIn and SignUp pages
  src/pages/public/SignIn.tsx
  src/pages/public/SignUp.tsx
  src/pages/public/routes.tsx
Due: prettier --check, eslint

refactor: add data to User type and remove default export
  src/types/user.ts
Due: prettier --check, eslint

chore: add Axios as HTTP client
  package-lock.json
  package.json
Due: prettier --check

refactor: add BaseClient class as basic Axios wrapper
  src/services/BaseClient.ts
Due: prettier --check, eslint

build: add REACT_APP_SERVER_API_URL env and use a fake API
  .env.development.template
  .env.production.template
  .env.test.template
Due: none

feat: setup registration and authentication services
  src/components/SignInForm/SignInForm.tsx
  src/components/SignUpForm/SignUpForm.tsx
  src/services/AuthenticationClient.ts
  src/services/RegistrationClient.ts
  src/types/authentication.ts
  src/types/registration.ts
Due: prettier --check, eslint

test: use AuthenticationPayload in SignInForm tests
  src/components/SignInForm/SignInForm.test.tsx
Due: prettier --check, eslint

chore: add Zustand as a lightweight state manager
  package-lock.json
  package.json
Due: prettier --check

chore: add React Query as a server state manager
  package-lock.json
  package.json
Due: prettier --check

chore: add react-use package
  package-lock.json
  package.json
Due: prettier --check

chore: add Ramda package
  package-lock.json
  package.json
Due: prettier --check

refactor: change methods names in AuthenticationClient
  src/services/AuthenticationClient.ts
Due: prettier --check, eslint

feat: add basic setup of React Query
  src/app/App.tsx
Due: prettier --check, eslint

refactor: remove NotFound component
  src/pages/protected/NotFound.tsx
  src/pages/protected/routes.tsx
  src/pages/public/NotFound.tsx
  src/pages/public/routes.tsx
Due: prettier --check, eslint

Path conditions:
  prettier --check: any of: **/*.{scss,css,md,html,json,ts,tsx}
  eslint: any of: src/**/*.{ts,tsx}
