Repository jelhouss/mui-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

refactor: change AuthenticationClient signOut method type to async
  src/services/AuthenticationClient.ts
Due: prettier --check, eslint

feat: setup initial and basic authentication process
  src/app/App.tsx
  src/app/store/useAuthenticationState.ts
  src/pages/index.tsx
  src/pages/protected/Home.tsx
  src/pages/protected/routes.tsx
  src/pages/public/SignIn.tsx
  src/pages/public/routes.tsx
Due: prettier --check, eslint

chore: add MSW package
  package-lock.json
  package.json
Due: prettier --check

refactor: change tests and stories file structure
  src/__tests__/App.test.tsx
  src/__tests__/SignInForm.test.tsx
  src/__tests__/SignUpForm.test.tsx
  src/components/SignInForm.tsx
  src/components/SignUpForm.tsx
  src/pages/public/SignIn.tsx
  src/pages/public/SignUp.tsx
  src/stories/SignInForm.stories.tsx
  src/stories/SignUpForm.stories.tsx
Due: prettier --check, eslint

build: init MSW using automatic init script
  package.json
  public/mockServiceWorker.js
Due: prettier --check

chore: add faker.js (6.0.0-alpha.3)
  package-lock.json
  package.json
Due: prettier --check

feat: refactor and setup authentication/registration with MSW
  .env.development.template
  src/app/store/useAuthenticationState.ts
  src/index.tsx
  src/mocks/authentication.ts
  src/mocks/faker/user.ts
  src/mocks/msw/browserMSWSetup.ts
  src/mocks/msw/mswenv.ts
  src/mocks/msw/nodeMSWSetup.ts
  src/mocks/registration.ts
  src/pages/protected/Home.tsx
  src/services/AuthenticationClient.ts
  src/services/RegistrationClient.ts
  src/setupTests.ts
  src/types/authentication.ts
  src/types/registration.ts
  src/types/user.ts
Due: prettier --check, eslint

refactor: add consistent return types for onSubmit in SignUpForm and SignInForm components
  src/components/SignInForm.tsx
  src/components/SignUpForm.tsx
Due: prettier --check, eslint

refactor: remove unnecessary registration payload check (HTTP 400 in MSW)
  src/mocks/registration.ts
Due: prettier --check, eslint

feat: finish implementing fake registration with MSW
  src/pages/public/SignUp.tsx
  src/services/RegistrationClient.ts
Due: prettier --check, eslint

Revert "refactor: change tests and stories file structure"
  src/app/App.test.tsx
  src/components/SignInForm/SignInForm.stories.tsx
  src/components/SignInForm/SignInForm.test.tsx
  src/components/SignInForm/SignInForm.tsx
  src/components/SignUpForm/SignUpForm.stories.tsx
  src/components/SignUpForm/SignUpForm.test.tsx
  src/components/SignUpForm/SignUpForm.tsx
  src/pages/public/SignIn.tsx
  src/pages/public/SignUp.tsx
Due: prettier --check, eslint

chore: prepare MSW request handler to mount before app
  src/index.tsx
Due: prettier --check, eslint

feat: setup refresh authentication
  src/app/store/useAuthenticationState.ts
  src/mocks/authentication.ts
  src/pages/index.tsx
  src/services/AuthenticationClient.ts
  src/types/authentication.ts
Due: prettier --check, eslint

test: fix App.test.tsx by asserting that app finished refreshing
  src/app/App.test.tsx
Due: prettier --check, eslint

refactor: switch MSW handlers to resources folder
  src/mocks/msw/mswenv.ts
  src/mocks/msw/resources/authentication.ts
  src/mocks/msw/resources/registration.ts
Due: prettier --check, eslint

test: change all unit test files extenstions to declarative extensions
  .eslintrc.json
  src/app/App.unit.spec.tsx
  src/components/SignInForm/SignInForm.unit.spec.tsx
  src/components/SignUpForm/SignUpForm.unit.spec.tsx
Due: prettier --check, eslint

chore: add Cypress and (initial generated) e2e tests
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: prettier --check

Revert "chore: add Cypress and (initial generated) e2e tests"
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: prettier --check

chore: add initial README version
  README.md
Due: prettier --check

build: add docker scripts in package.json
  package.json
Due: prettier --check

build(deps): upgrade (minor) version of some packages
  package-lock.json
Due: prettier --check

build(ESLint): disable require-default-props rule
  .eslintrc.json
Due: prettier --check

build(deps): update (minor and major) packages
  package-lock.json
  package.json
Due: prettier --check

chore: upgrade packages (minor/major)
  package-lock.json
  package.json
Due: prettier --check

fix: add event type in onClickAway handler
  src/components/Header/hooks.ts
  src/components/ProfileAvatarPopper/hooks.ts
Due: prettier --check, eslint

build(.gitignore): remove old file path
  .gitignore
Due: none

build(.env): add REACT_APP_OFFLINE variable for production
  .env.production
Due: none

feat: change circular loading with linear (app wrapper)
  src/app/App.tsx
Due: prettier --check, eslint

docs(code comments): modify initial comment in BrandingProvider.tsx file
  src/BrandingProvider.tsx
Due: prettier --check, eslint

build(package.json): upgrade packages (with major versions)
  package-lock.json
  package.json
  src/mocks/factories/userFactory.ts
  src/mocks/msw/handlers/authenticationHandler.ts
Due: prettier --check, eslint

build(env): add FAST_REFRESH variable
  .env.development.template
Due: none

docs(README): update another README information
  README.md
Due: prettier --check

fix: remove duplicated user settings menu item
  src/shared/utils/getNavigationItems.ts
Due: prettier --check, eslint

Path conditions:
  prettier --check: any of: **/*.{scss,css,md,html,json,ts,tsx,js}
  eslint: any of: src/**/*.{ts,tsx,js}
